<section aria-label="Counter">
  <app-counter [startCount]="5" (countChange)="handleCountChange($event)"></app-counter>
  <app-counter [startCount]="8" (countChange)="handleCountChange($event)"></app-counter>
  <app-counter [startCount]="10" (countChange)="handleCountChange($event)"></app-counter>
</section>

<section aria-label="Counter connected to the service">
  <app-service-counter></app-service-counter>
  <app-service-counter></app-service-counter>
  <app-service-counter></app-service-counter>
</section>

<section aria-label="NgRx counter">
  <app-ngrx-counter></app-ngrx-counter>
  <app-ngrx-counter></app-ngrx-counter>
  <app-ngrx-counter></app-ngrx-counter>
</section>
