<app-independent-counter [startCount]="0" (countChange)="handleCountChange($event)"></app-independent-counter>
<app-independent-counter [startCount]="5" (countChange)="handleCountChange($event)"></app-independent-counter>
<app-independent-counter [startCount]="7" (countChange)="handleCountChange($event)"></app-independent-counter>

<app-service-counter></app-service-counter>
<app-service-counter></app-service-counter>
<app-service-counter></app-service-counter>

<app-ngrx-counter></app-ngrx-counter>
<app-ngrx-counter></app-ngrx-counter>
<app-ngrx-counter></app-ngrx-counter>
