<app-independent-counter
  [startCount]="5"
  (countChange)="handleCountChange($event)"
></app-independent-counter>
<app-independent-counter
  [startCount]="8"
  (countChange)="handleCountChange($event)"
></app-independent-counter>
<app-independent-counter
  [startCount]="10"
  (countChange)="handleCountChange($event)"
></app-independent-counter>

<app-service-counter></app-service-counter>
<app-service-counter></app-service-counter>
<app-service-counter></app-service-counter>

<app-ngrx-counter></app-ngrx-counter>
<app-ngrx-counter></app-ngrx-counter>
<app-ngrx-counter></app-ngrx-counter>
