*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
  color: black;
}

h1 {
  font-size: 1.2rem;
}

h1,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button,
input[type='text'],
input[type='number'],
input[type='email'] {
  border: 0;
  padding: 0 0.5rem;
  font-size: inherit;
  line-height: 1;
  height: 2rem;
}

button {
  min-width: 2rem;
  font-size: 1.1rem;
}

button + button {
  margin-left: 3px;
}

button {
  background-color: #1976d2;
  color: #fff;
}

input[type='text'],
input[type='number'],
input[type='email'] {
  background-color: #fff;
  border: 1px solid #1976d2;
}
